body {
    background-color: #2b2a33;
}

.name{
    color: #b4b4b4;
}

.links {
    color: #b4b4b4;
}

a {
    color: b4b4b4;
}

.about {
    color: #b4b4b4;
}

.helpme {
    color: #b4b4b4;
}
.button {
    border: none !important;
    background-color: #b4b4b4;
}