body {
    background-color: #2b2a33;
}

.name{
    color: #b4b4b4;
}

.links {
    color: #b4b4b4;
}

a {
    color: b4b4b4;
}

.about {
    color: #b4b4b4;
}

.helpme {
    color: #b4b4b4;
}
.button {
    border: none !important;
    background-color: #b4b4b4;
}
.car3 {
    width: 219px !important;
    height: 230px !important;
}
.banner {
    width: 100% !important;
    height: 15% !important;
}